# a file such as the below should me placed in $HOME/.dampfcfg.yaml

liveCertificate: /etc/letsencrypt/live/mydomain.com/

postgres local:
    host: localhost
    port: 5432

    users:
        user: password

